@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    /* font-family: Roboto Condensed, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
            Segoe UI Symbol, Noto Color Emoji; */
}

table, th, td {
    border: 1px solid gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: none !important;
}

.socialsharebtn{
    font-family: "Roboto Condensed" !important;
}
.navBtn{
    border-radius: 0 !important;
    border-right: 2px solid #e6e6e6 !important;
    margin: 0 !important;
    /* padding: .5rem; */
}
/* .appbar{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: min-content;
} */
.container{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 3px 2%;
}
.header p{
    margin: .2rem;
    font-size: 1rem;
}
hr{
    width: 96%;
    border:2px solid lightblue;
}
.header img{
    overflow: hidden;
    border-radius: 50%;
    width: 80px;
    height: 100px;
}
.articleHead{
    margin: 0 10px;
}
.articleBody{
    margin: 0 10px;
    /* font-weight: 550; */
    font-style: arial;
}

.MuiTabs-indicator{
    background-color: #01b9f5 !important;
}